@charset "utf-8";

#manager td.cell--size {
	width: 10ex;
}

#manager td.cell--download {
	width: 20px;
	text-align: center;
}

#manager a.download {
	font-size: 16px;
	vertical-align: middle;
	text-decoration: none;
}

#manager a.download:before
{
	font-family: FontAwesome;
	content: "\f019";
}