.cell--size {
	width: 10ex;
}

.cell--download {
	width: 20px;
	text-align: center;
}

.cell--download a {
	font-size: 16px;
	vertical-align: middle;
	text-decoration: none !important;
}

.cell--download a:before {
	font-family: FontAwesome;
	content: "\f019";
}